      

/* SELETOR UNIVERSAL (TIRANDO A MARGEM E O ESPACO PADRAO DO NAVEGADOR) */
*{
    margin:0;
    padding:0;
}

/*ESTILIZANDO O CORPO DO TEXTO */
body{
    
    /* O FUNDO DO BODY FICA COM A COR DETERMINADA*/ 
    background-color: blanchedalmond;
}

/* ESTILIZANDO ALGO A PARTIR DE UM ID */
#titulo{

    /* DETERMINANDO A FONTE */
    font-family: cursive;
    
    /* DETERMINANDO A POCICAO DOS ELEMENTOS CONTIDOS EM HEADER (NO CENTRO DO DOCUMENTO) */
    text-align: center;
    
    /* DETERMINANDO A COR DA FONTE DOS ELEMENTOS CONTIDOS EM HEADER */
    color: darkgray;

    padding: 20px;
    
    margin: 20px;
}

/* ESTILIZANDO ALGO A PARTIR DE UM SELETOR DO TIPO CLASS */
.paragrafos{
    background-color: darkgray;
    padding: 14px 16px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    
}