      

/* SELETOR UNIVERSAL (TIRANDO A MARGEM E O ESPACO PADRAO DO NAVEGADOR) */
*{
    margin:0;
    padding:0;
}

/*ESTILIZANDO O CORPO DO TEXTO */
body{
    
    /* O FUNDO DO BODY FICA COM A COR DETERMINADA*/ 
    background-color: blanchedalmond;
}

/* ESTILIZANDO ALGO A PARTIR DE UM ID */
#titulo{

    /* DETERMINANDO A FONTE */
    font-family: cursive;
    
    /* DETERMINANDO A POCICAO DOS ELEMENTOS CONTIDOS EM HEADER (NO CENTRO DO DOCUMENTO) */
    text-align: center;
    
    /* DETERMINANDO A COR DA FONTE DOS ELEMENTOS CONTIDOS EM HEADER */
    color: darkgray;

    border: 2px solid black;

    border-radius: 15px;

    margin: 50px 450px 50px 450px;

    background-color: darkblue

}

/* ESTILIZANDO ALGO A PARTIR DE UM SELETOR DO TIPO CLASS */
.paragrafos{
    
    background-color: darkgray;
    
    text-align:center;
    
    font-family:Arial, Helvetica, sans-serif;

    
    
}

p{
    margin-left: 15px;

    margin-bottom: 50px;

    margin-top: 50px;

    margin-right: 15px;
}

/* CRIANDO UM BOTAO SIMPLE */
.botao{
    
    /* CRIANDO UMA BORDA PARA O BOTAO */
    border: 2px solid black;
    
    /* TORNANDO A BORDA ARREDONDADA */
    border-radius: 15px;

    /* DEFININDO A COR DO FUNDO */
    background-color: aqua;

    /* CRIANDO ESPACOS EM BRANCO ENTRE A PAGINA E A ESQUERDA DO BOTAO */
    margin-left: 150px;

    /* CRIANDO ESPACOS EM BRANCO DENTRO DO ELEMENTO (20PX PARA CADA LADO) */
    padding: 20px;
    
    /* DEFININDO A COR DA FONTE */
    color: gray;

    /* REMOVENDO A DECORACAO PADRAO DO LINK */
    text-decoration: none;

    

}

/* CRIANDO UMA INTERACAO QUANDO PASSAMOS O MOUSE POR CIMA DO BOTAO */
.botao:hover{
    
    /* O FUNDO MUDA DE COR AO PASSARMOS O MOUSE POR CIMA DO BOTAO */
    background-color: blue


}

/* CRIANDO UM BOTAO */
.botao2{
   
    /* DEFINIDO UM ESPACO EM BRANCO EM TODAS AS DIRECOES */
    margin: 30px;

    /* DEFININDO UM ESPACO EM BRANCO ENTRE OS ELEMENTOS */
    padding: 20px;

    /* DEFINIDO UMA BORDA */
    border: 3px solid red;

    /* TIRANDO A DECORACAO PRE DEFINIDA */
    text-decoration: none;

    /* ARREDONDANDO A BORDA */
    border-radius: 15px;

    /* DEFININDO A COR DO TEXTO */
    color:gray;

    margin-bottom: 50px;

}

/* CRIANDO UMA INTERACAO AO PASSARMOS O CURSOR POR CIMA */
.botao2:hover{
    
    /* QUANDO PASSARMOS O CURSOR POR CIMA O FUNDO FICA NA COR DARKRED */
    background-color: darkred;
    
    /* QUANDO PASSARMOS O CURSOR POR CIMA A BORDA AUMENTA */
    border: 5px solid red;

}

/* CRIANDO UM BOTAO */
.botao3{

    /* DEFINIDO UM ESPACO EM TODAS AS DIRECOES */
    margin: 30px;

    /* DEFININDO UM ESPACO DENTRO DO ELEMENTO EM TODAS AS DIRECOES */
    padding: 20px;

   /* CRIANDO UMA BORDA PRETA */
    border: 3px solid black;

    /* EXCLUINDO A DECORACAO PRE-DEFINIDA */
    text-decoration: none;
   
    /* ARREDONDANDO A BORDA */
    border-radius: 15px;

    /* DEFININDO UMA COR PARA O TEXTO */
    color: gray;

    margin-bottom:  50px;

}

/* CRIANDO UMA INTERACAO QUANDO PASSARMOS O MOUSE POR CIMA */
.botao3:hover{

    /* QUANDO PASSARMOS O MOUSE POR CIMA O FUNDO FICA AMARELO */
    background-color:yellow;

    /* QUANDO PASSARMOS O MOUSE POR CIMA O TEXTO FICA SUBLINHADO */
    text-decoration:underline;

    /* QUANDO PASSAMOS O MOUSE POR CIMA A BORDA DIMINUI */
    border: 2px solid black;
}

/* DEFININDO UMA DIV CONTAINER */
.container{

    /* DEFININDO UMA BORDA */
    border: 2px solid black;

    /* AJUSTANDO O ELEMENTO AO TAMANHO DE CONTAINER */
    overflow: auto;

    /* DEFININDO UMA MARGEM AO TOPO */
    margin-top: 50px;

    /* DEFININDO A COR DE FUNDO */
    background-color: white;
}

/* ESTILIZANDO TODAS AS IMAGENS DENTRO DA CLASSE CONTAINER */
.container img{

    /* DEFININDO UMA MARGEM A DIREITA */
    margin-right: 20px;

    /* DEFININDO UMA MARGEM A ESQUERDA */
    float: left;

}

/* ESTILIZANDO TODOS O PARAGRAFOS DENTRO DE CONTAINER */
.container p{
    
    /* DEFININDO UMA MARGEM AO TOP */
    margin-top: 10px;

    /* DEFININDO UMA MARGEM ABAIXO */
    margin-bottom: 20px;

    /* DEFININDO A FONTE DOS PARAGRAFOS */
    font-family: cursive;

}

/* ESTILIZANDO TODOS OS H3 DENTRO DE CONTAINER */
.container h3{

    /* DEFININDO UMA MARGEM AO TOPO DE 20PX */
    margin-top: 20px;

    /* DEFININDO UMA MARGEM ABAIXO */
    margin-bottom: 20px;

    /* ALINHANDO O TEXTO AO CENTRO */
    text-align: center;

    /* DEFININDO O TAMANHO DA FONTE */
    font-size: 30px;

}

/* EFEITO AO PASSARMOS O MOUSE POR CIMA */
.img1:hover{
    
    /* DIMUNIU A OPACIDADE */
    opacity: 0.8;

}

/* EFEITO AO PASSARMOS O MOUSE POR CIMA */
.img2:hover{

    /* A OPACIDADE DIMINUI */
    opacity: 0.6;

}

/* EFEITO AO PASSARMOS O MOUSE POR CIMA */
.img3:hover{

    /* A OPACIDADE DIMINUI */
    opacity: 0.4;

}

/* BOTAO SIMPLES PARA EXEMPLO */
.opc{

    /* TIRANDO A DECORACAO PRE DEFINIDA */
    text-decoration: none;

    /* TORNANDO O DISPLAY EM LINHA-BLOCO */
    display: inline-block;

    /* DEFININDO UMA MARGEM AO TOPO */
    margin-top: 20px;

    /* AUMENTANDO O PREENCHIMENTO */
    padding: 15px;

    /* ESCOLHENDO UMA COR DE FUNDO */
    background-color: blue;

    /* DEFININDO UMA BORDA */
    border: 1px solid darkblue;

    /* DEFININDO A COR DO TEXTO */
    color: white;
}

/* EFEITO AO PASSARMOS O MOUSE POR CIMA */
.opc:hover{

    /* DIMINUI A OPACIDADE */
    opacity: 0.7;
}