      

/* SELETOR UNIVERSAL (TIRANDO A MARGEM E O ESPACO PADRAO DO NAVEGADOR) */
*{
    margin:0;
    padding:0;
}

/*ESTILIZANDO O CORPO DO TEXTO */
body{
    
    /* O FUNDO DO BODY FICA COM A COR DETERMINADA*/ 
    background-color: blanchedalmond;
}

/* ESTILIZANDO ALGO A PARTIR DE UM ID */
#titulo{

    /* DETERMINANDO A FONTE */
    font-family: cursive;
    
    /* DETERMINANDO A POCICAO DOS ELEMENTOS CONTIDOS EM HEADER (NO CENTRO DO DOCUMENTO) */
    text-align: center;
    
    /* DETERMINANDO A COR DA FONTE DOS ELEMENTOS CONTIDOS EM HEADER */
    color: darkgray;

    border: 2px solid black;

    border-radius: 15px;

    margin: 50px 450px 50px 450px;

    background-color: darkblue

}

/* ESTILIZANDO ALGO A PARTIR DE UM SELETOR DO TIPO CLASS */
.paragrafos{
    
    background-color: darkgray;
    
    text-align:center;
    
    font-family:Arial, Helvetica, sans-serif;

    
    
}

p{
    margin-left: 15px;

    margin-bottom: 50px;

    margin-top: 50px;

    margin-right: 15px;
}

/* CRIANDO UM BOTAO SIMPLE */
.botao{
    
    /* CRIANDO UMA BORDA PARA O BOTAO */
    border: 2px solid black;
    
    /* TORNANDO A BORDA ARREDONDADA */
    border-radius: 15px;

    /* DEFININDO A COR DO FUNDO */
    background-color: aqua;

    /* CRIANDO ESPACOS EM BRANCO ENTRE A PAGINA E A ESQUERDA DO BOTAO */
    margin-left: 50%;

    /* CRIANDO ESPACOS EM BRANCO DENTRO DO ELEMENTO (20PX PARA CADA LADO) */
    padding: 20px;
    
    /* DEFININDO A COR DA FONTE */
    color: gray;

    /* REMOVENDO A DECORACAO PADRAO DO LINK */
    text-decoration: none;

}

/* CRIANDO UMA INTERACAO QUANDO PASSAMOS O MOUSE POR CIMA DO BOTAO */
.botao:hover{
    
    /* O FUNDO MUDA DE COR AO PASSARMOS O MOUSE POR CIMA DO BOTAO */
    background-color: blue


}
