
/* IMPORTANDO UMA FONTE EXTERNA */
@import url('https://fonts.googleapis.com/css2?family=Bahianita&display=swap');


*{
    margin: 0;
    padding:0;
}


#title{

    /* Propriedade que muda a cor da fonte */
    color:aqua;
    
    /* PROPRIEDADE BORDA,  BORDA: TAMANHO TIPO COR; */

    /* BORDA SOLIDA COR PRETA */
    border: 2px solid black;

    /* BORDA COM PONTOS COR PRETA 
    border: 2px dotted black;*/

    /* BORDA COM TRACOS COR PRETA 
    border: 2px dashed black;*/

    /* BORDA COM DUAS LINHAS COR PRETA
    border: 2px double black; */

    /* BORDA COM "EFEITO 3D"
    border: 2px groove black; */

    /* BORDA COM EFEITO DE ESPESSURA 
    border: 2px ridge black; */

    /* BORDA POR DENTRO 
    border: 2px inset black; */

    /* BORDA POR FORA
    border: 2px outset black; */

    /* SEM BORDA
    border: 2px none black; */

    /* BORDA ESCONDIDA
    border: 2px hidden black; */

    /* PROPRIEDADE DE ARREDONDAMENTO DA BORDA ( USAMOS PX ) */
    border-radius: 10px;

    /* PROPRIEDADE QUE CRIA ESPACOS EM BRANCO NO TOPO (TOP) DIREITA (RIGHT) ESQUERDA (LEFT) E EM BAIXO (BOTTOM) */
    margin: 50px 450px 50px 450px;
    

    /* ALINHA O TEXTO DE ACORDO COM A FORMA ESCOLHIDA (CENTER, LEFT, RIGHT */
    text-align:center;

}

/* Propriedade que muda a cor da fonte */
.paragrafo{
    color: darkgray;
    
    background-color:darkblue;

    /* PROPRIEDADE ESCRITA E ESPECIFICANDO CADA LUGAR */
    margin-left: 15px;

    margin-top: 50px;

    margin-bottom: 50px;

    margin-right: 15px;
}

#fundo{
    
    /* COLOCANDO UMA IMAGEM DE FUNDO*/
    /* ../ VOLTA UMA PASTA DA QUE ESTAMOS (CSS) */
    background-image: url("../img/pexels-henry-&-co-1939485.jpg");
    
    /* DEFININDO O TAMANHO DA IMAGEM OU COR DO FUNDO */
    background-size: cover;
    
    /* DEFININDO O TAMANHO DO FUNDO NO ID FUNDO*/ 
    height: 200px;

    /* DEFININDO SE O FUNDO VAI SE REPETIR OU NAO */
    background-repeat: no-repeat;

    /* DEFININDO DE ONDE COMECA O FUNDO */
    background-position:center;

    /* DEFININDO UMA COR SOLIDA DE FUNDO */
    background-color:bisque;

    margin-bottom: 100px

}


/* CRIANDO UM BOTAO SIMPLES */
#botao{
   
    /* CRIANDO A BORDA DO BOTAO */
    border: 2px solid black;

    /* DEIXANDO A BORDA REDONDA */
    border-radius: 15px;

    /* CRIANDO UM ESPACO EM BRANCO ENTRE A ESQUERDA DA PAGINA E O BOTAO */
    margin-left: 50%;

    /* CRIANDO UM ESPACO EM BRANCO ENTRE A PARTE DE BAIXO DA PAGINA E O BOTAO */
    margin-bottom: 100px;

    /* CRIA ESPACOS EM BRANCO DENTRO DO ELEMENTO */
    padding: 10px;

    /* DEFININDO UMA COR PARA  O FUNDO */
    background-color: blanchedalmond;

    /* DEFININDO A COR DA FONTE DENTRO DO BOTAO */
    color: darkgray;

    /* TIRANDO A DECORACAO PADRAO DO DO LINK */
    text-decoration: none;

}

/* CRIANDO UM ELEMENTO QUE FAZ ALGO ACONTECER QUANDO O MOUSE PASSA POR CIMA DO BOTAO */
#botao:hover{
    
    /* QUANDO PASSAMOS O MOUSE POR CIMA DO BOTAO O FUNDO FICA EM VERMELHO */
    background-color: red;
    

}

/* PROPRIEDADES DE TEXTO */
.text{
    
    /* CRIANDO UM ESPACO ENTRE  O TOPO E O TEXTO */
    margin-top: 50px;
    
    /* CRIANDO UM ESPACO ENTRE OS ELEMENTOS ABAIXO E O TEXTO */
    margin-bottom: 50px;
    
    /* ALINHADO O TEXTO AO CENTRO, TAMBEM PODE SER ALINHADO PARA A DIREITA OU ESQUERDA */
    text-align: center;

    /* TIRANDO QUALQUER DECORACAO DO TEXTO PODEMOS ADICIONAR UMA LINHA EM CIMA (OVERLINE), ABAIXO (UNDERLINE) OU RISCAMOS O ELEMENTO LINE-THROUGH*/
    text-decoration: none;

    /* TRANSFORMARNDO TODO O TEXTO EM CAPSLOCK, PODEMOS TRANSFORMAR EM CAIXA BAIXA (LOWERCASE) OU DEIXAR TODAS AS PRIMEIRAS LETRAS EM CAIXA ALTA (CAPTALIZE) */
    text-transform: uppercase;

    /* DEIXANDO A PRIMEIRA LINHA RECUADA 10PX, EFEITO PARAGRAFO */
    text-indent: 10px;

    /* DEIXANDO UM ESPACO ENTRE AS LETRAS DE 4PX */
    letter-spacing: 4px;

    /* DEIXANDO UM ESPACO ENTRE AS LINHAS DE 1.5 */
    line-height: 1.5;

    /* DEIXANDO UM ESPACO ENTRE AS PALAVRAS DE 10PX */
    word-spacing: 10px;
}

/* PROPRIEDADES DE FONTE */
.font{
   
    /* CRIANDO UM ESPACO DE 50PX EM TODAS AS DIRECOES */
    margin: 50px;

    /* CRIANDO UM ESPACO DE 50PX ENTRE OS ELEMENTOS */
    padding: 50px;

    /* CRIANDO UM ESPACO ENTRE AS LETRAS */
    letter-spacing: 3px;

    /* ESCOLHENDO UMA FONTE PARA O TEXTO */
    font-family: 'Bahianita', cursive;

    /* ESCOLHENDO O TAMANHO DA FONTE */
    font-size: 25px;

    /* ESCOLHENDO A ESPESSURA DA FONTE */
    font-weight:lighter;

    /* ESCOLHENDO O ESTILO */
    font-style:normal;

}

/* ESTILIZANDO AS LISTA NAO ORDENADAS */
ul{
    /* DEFININDO O FUNDO */
    background: black;
    
    /* DEFININDO O ESTILO DA LISTA */
    list-style-type: none;

    /* DEFININDO A MARGEM */
    margin: 0;

    /* DEFININDO O PREENCHIMENTO */
    padding: 0;

    /* ESCONDENDO TEXTOS MAIORES QUE O TAMANHO DEFINIDO */
    overflow: hidden;
   
}

/* ESTILIZANDO AS LISTAS */
li{

    /* FLUTUANDO A ESQUERDA */
    float: left;

}

/* ESTILIZANDO TODOS OS LINKS DENTRO DE LISTAS */
li a{

    /* TIRANDO AS DECORACOES PRE-DEFINIDAS */
    text-decoration: none;

    /* DEFININDO O PREENCHIMENTO */
    padding: 14px 16px;

    /* DEFININDO O ALINHAMENTO DO TEXTO */
    text-align: center;

    /* DEFININDO A COR DA FONTE */
    color: white;

}

/* QUANDO PASSARMOS O MOUSE POR CIMA */
li a:hover, .dropdown:hover .dropbtn{

    /* O FUNDO FICA EM VERMELHO */
    background-color: red;

}

/* ESTILIZANDO UMA LISTA COM A CLASSE DROPDOWN */
li.dropdown{

    /* DISPLAY LINHA-BLOCO */
    display: inline-block;
}

/* ESTILIZANDO A CLASSE DROP-CONTENT */
.drop-content{

    /* REMOVENDO O DISPLAY */
    display: none;

    /* TORNANDO A POSICAO DEPENDENTE DE UM ANCESTRAL */
    position: absolute;

    /* DEFININDO A COR DA FONTE */
    color: white;

    /* DEFININDO A LARGURA */
    width: 150px;
}

/* ESTILIZANDO OS LINKS DA CLASSE DROP-CONTENT */
.drop-content a{

    /* DEFININDO A COR DAS FONTES */
    color: black;

    /* DEFININDO O DISPLAY */
    display: block;

    /* DEFININDO O ALINHAMENTO DO TEXTO */
    text-align: left;
    
}

/* AO PASSARMOS O MOUSE POR CIMA */
.dropdown:hover .drop-content{

    /* O DISPLAY REAPARECE */
    display: block;
}

/* COLOCANDO EFEITO DE SOMBRA NO TEXTO */
.shadow{

    /* DEFININDO UMA MARGEM */
    margin: 20px;

    /* DEFININDO UMA SOBRA DE 2PX NA HORIZONTAL E 2PX NA VERTICAL E 4PX DE DESFOQUE COM DUAS CORES */
    text-shadow: 2px 2px 4px gray, 2px 2px 4px orangered
                
    
}

/* COLOCANDO EFEITOS DE SOMBRA EM CAIXAS */
.box-shadow{

    /* DEFININDO UMA ALTURA */
    height: 300px;

    /* DEFININDO UMA LARGURA */
    width: 500px;

    /* DEFININDO UMA COR DE FUNDO */
    background: darkgray;

    /* DEFININDO UMA MARGEM A ESQUERDA */
    margin-left: 30px;

    /* DEFININDO UMA MARGEM ABAIXO */
    margin-bottom: 30px;

    /* DEFININDO UMA BORDA ESCONDIDA */
    border: 1px hidden black;

    /* ARREDONDANDO ESSA BORDA */
    border-radius: 50px;
}

/* EFEITO QUE ACONTECE AO PASSARMOS O MOUSE POR CIMA */
.box-shadow:hover{

    /* CRIA UM EFEITO DE SOMBRA COM 8PX NA HORIZONTAL 8PX NA VERTICAL E 20PX DE DESFOQUE NA COR DEFINIDA */
    box-shadow: 8px 8px 20px darkblue;
}

/* CRIANDO E ESTILIZANDO UMA CARD */
.card{

    /* DEFININDO SUA LARGURA EM UM MEDIDA QUE NAO É PX */
    width: 18%;

    /* DEFININDO SUA ALTURA EM PX */
    height: auto;

    /* DEFININDO UMA MARGE A ESQUERDA */
    margin-left: 20px;

    /* DEFININDO UMA MARGEM ABAIXO */
    margin-bottom: 20px;

    /* CRIANDO UM EFEITO DE SOMBRA DE 5PX NA HORIZONTAL 5 PX NA VERTICAL E 18PX DE DESFOQUE */
    box-shadow: 5px 5px 18px gray;

    /* CRIANDO UMA BORDA ESCONDIDA */
    border: 1px hidden gray;

    /* ARREDONDANDO A BORDA */
    border-radius: 10px;

    /* OS ELEMENTOS DA CLASSE CARD FICAM FLUTUANDO A ESQUERDA */
    float: left;

    /* DEFININDO UMA MARGEM A DIREITA
    margin-right: 30px;

    /* DEFININDO UM PREENCHIMENTO ABAIXO */
    padding-bottom: 30px;

}

/* ESTILIZANDO TODAS AS IMAGENS NA CLASSE CARD */
.card img{

    /* ARREDONDANDO A PARTE DE CIMA DA IMAGEM */
    border-radius:10px 10px 0px 0px;
}

/* ESTILIZANDO TODOS OS H3 E P DENTRO DA CLASSE CARD */
.card h3, p{

    /* ALINHANDO O TEXTO */
    text-align: center;

    margin: 2px 0px 2px 0px;
}

/* EFEITO AO PASSARMOS O MOUSE POR CIMA */
.card:hover{

    /* AUMENTA O EFEITO DE SOMBREAMENTO */
    box-shadow: 10px 10px 18px gray;

}

/* ESTILIZANDO UM ELEMENTO MAIOR QUE A ALTURA E A LARGURA DEFINIDA */
.reduzido{

    /* DEIXANDO O CONTEUDO TODO EM APENAS UMA LINHA */
    white-space: nowrap;

    /* ESCONDENDO AS PALAVRAS QUE ULTRAPASSAM A ALTURA E A LARGURA DEFINIDOS */
    overflow: hidden;

    /* MOSTRA PARA O USUARIO ... QUE SIGNIFICA QUE ALI POSSUI MAIS CONTEUDO */
    text-overflow: ellipsis;

    

}

/* EFEITO AO PASSARMOS O MOUSE POR CIMA */
.card:hover .reduzido{

    /* O CONTEUDO ANTES ESCONDIDO APARECE */
    white-space: normal;

}