
/* RETIRANDO A MARGEM E O PREENCHIMENTO PADRAO */
*{
    margin: 0;
    padding: 0;
}


body{
    background-color:wheat;
}

/* ESTILIZANDO TODOS OS H1 */
h1{

    /* ALINHADO O TEXTO AO MEIO */
    text-align: center;

    /* DEFININDO A FONTE */
    font-family: cursive;

    /* COLOCANDO ESPACOS ENTRE AS  LETRAS */
    letter-spacing: 2px;

}

/* ESTILIZANDO TODAS AS TAGS NAV */
nav{

    /* DEFININDO SEU FUNDO */
    background-color: gray;

    /* DEFININDO O TAMANHO DO FUNDO */
    height: 30px;
}

/* ESLIZIANDO A TAG TAB PARA FORMAR UMA BARRA DE NAVEGACAO */
.tab{

    /* COLOCANDO OS ELEMENTOS DA LISTA TODOS EM UMA MESMA LINHA */
    display: inline-block;

    /* COLOCANDO UM ESPACO ENTRE AS LETRAS */
    letter-spacing: 2px;

    /* DEFININDO UMA MARGEM A ESQUERDA */
    margin-left: 15px;


}

/* ESTILIZANDO TODOS AS TAGS A */
a{

    /* REMOVENDO A ESTILIZACAO PRE-DEFINIDA */
    text-decoration: none;

    /* DEFINIDO A COR DA FONTE */
    color: white;

    /* DEFININDO O TIPO DA FONTE */
    font-family: cursive;

}

/* CRIANDO UMA INTERACAO AO PASSARMOS O MOUSE POR CIMA DOS ELEMENTOS */
a:hover{

    /* AO PASSARMOS O MOUSE POR CIMA CRIA UMA BORDA ABAIXO DO ELEMENTO */
    border-bottom: 3px solid white;

}

/* ESTILIZANDO OS PARAGRAFOS */
.p1{

    /* COLOCANDO TODOS NA MESMA LINHA */
    display:inline-block;

    /* DEFININDO O TIPO DE FONTE */
    font-family: cursive;

    /* DEFININDO A LARGURA DOS PARAGRAFOS PARA DIVIDR ELES NO MEIO */
    max-width: 600px;

    /* ALINHANDO O TEXTO AO CENTRO */
    text-align: center;

    /* COLOCANDO UMA MARGEM DE 40PX A ESQUERDA */
    margin-left: 40px;

    /* DEFININDO O TAMANHO DAS LETRAS */
    font-size: 15px;

    /* DEFININDO UM ESPACO ENTRE AS LETRAS */
    letter-spacing: 2px;

}

/* ESTILIZANDO TODAS AS TAGS H2 */
h2{

    /* ESCOLHENDO O TIPO DE FONTE */
    font-family: cursive;

    /* COLOCANDO TODOS NA MESMA LINHA (TROCANDO O DISPLAY PADRAO (BLOCK) ) */
    display: inline-block;

    /* CRIANDO UMA BORDA */
    border: 1px solid gray;

    /* ARREDONDANDO AS BORDAS */
    border-radius: 12px;

    /* DEFININDO UMA MARGEM DE 10PX AO TOPO */
    margin-top: 10px;

    /* DEFININDO UMA MARGEM DE 10PX ABAIXO */
    margin-bottom: 10px;
}

/* CRIANDO UMA INTERACAO QUANDO PASSAMOS O MOUSE POR CIMA */
h2:hover{

    /* AO PASSARMOS O MOUSE POR CIMA O FUNDO FICA NA COR AQUA */
    background-color: aqua;

}

/* ADICIONANDO IMAGEM */
 .fig{

    /* TORNANDO O DISPLAY EM LINHA */
    display: inline;

    /* DEFININDO UMA MARGEM A ESQUERDA */
    margin-left: 40px;

    /* DEFININDO A LARGURA MAXIMA */
    max-width: 600px;

    /* DEFININDO MARGEM NO TOP */
    margin-top: 20px;
 
 }

 /* ESTILIZANDO UM CONTAINER */
 .container{

    /*TORNANDO O FUNDO AZUL */
    background-color: blue;

    /* DEFININDO SUA ALTURA */
    height: 300px;
 }

 /* ESTILIZANDO A DIV DENTRO DE CONTAINER */
 .div1{

    /* DEFININDO A POSICAO RELATIVA EM RELACAO AO LOCAL QUE ESTA PRESENTE */
    position: relative;

    /* RELATIVA EM RELACAO AO TOPO 50PX
    top: 50px;

    /* RELATIVA EM RELACAO A ESQUERDA 20PX */
    left: 20px;
    
    /* DEFININDO A COR DO FUNDO */
    background-color: red;

    /* DEFININDO O DISPLAY EM LINHA-BLOCO */
    display: inline-block;

    /* DEFININDO SUA LARGURA */
    width: 100px;

    /* DEFININDO SUA ALTURA */
    height: 100px;
 }

 /* ESTILIZANDO UMA DIV DENTRO DE CONTAINER */
 .div2{

    /* DEFININDO SUA POSICAO RELATIVA */
    position: relative;

    /* RELATIVO A DIREITA 80PX */
    right: 80px;

    /* RELATIVO EM RELACAO AO TOPO 53PX */
    top: 53px;

    /* DEFININDO A COR DO FUNDO */
    background-color: gray;

    /* DEFININDO O DISPLAY EM LINHA-BLOCO */
    display: inline-block;

    /* DEFININDO A LARGURA */
    width: 100px;

    /* DEFININDO A ALTURA */
    height: 100px;

 }

 /* ESTILIZANDO UMA DIV EM CONTAINER */
 .div3{

    /* DEFININDO SUA POSICAO EM STICKY (GRUDENTO) */
    position: sticky;

    /* STICKY EM RELACAO AO TOPO */
    top: 10px;

    /* DEFININDO A COR DO FUNDO */
    background-color: green;

    /* DEFININDO SEU DISPLAY PARA LINHA-BLOCO */
    display: inline-block;

    /* DIFININDO SUA LARGURA */
    width: 100px;

    /* DEFININDO SUA ALTURA */
    height: 100px;
}

/* CRIANDO UM LOGO QUE FICA NO CANTO DA TELA INDEPENDENTE DE ONDE A BARRA DE ROLAGEM ESTIVER */
.whats{

    /* DEFININDO A POSICAO COMO FIXA */
    position: fixed;

    /* FIXA EM BAIXO 10PX */
    bottom: 10px;

    /* FIXA A DIREITA 10PX */
    right: 10px;

    /* DEFININDO SUA LARGURA */
    width: 34px;

    /* DEFININDO SUA ALTURA */
    height: 34px;
}

/* USO DE OVERFLOW */
.over{

    /* DEFININDO A COR DO FUNDO */
    background-color: red;

    /* DEFININDO A ALTURA */
    height: 100px;

    /* SE O ELEMENTO FOR MAIOR QUE A ALTURA ESCOLHIDA CRIA UMA BARRA DE ROLAGEM */
    overflow:auto;

    /* DEIXA O CONTEUDO DE FORA ESCINDIDO PODE SER USADO PARA ESCONDER A BARRA DE ROLAGEM DO NAVEGADOR 
    overflow: hidden; */

    /* DEIXA O CONTEUDO SEMPRE COM UMA BARRA DE ROLAMENTO
    overflow: scroll; */

    /* DEIXA O ELEMENTO VISIVEL MESMO QUE ULTRAPASSE A ALTURA QUE ESCOLHEMOS
    overflow: visible; */

    /* DEFININDO UMA MARGEM PARA TODOS OS LADOS */
    margin: 40px;
}
